<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85974797022-pmdg6q1fgi6ovdgoeoudep0s2g97s7pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85974797022-pmdg6q1fgi6ovdgoeoudep0s2g97s7pm</string>
	<key>API_KEY</key>
	<string>AIzaSyByHP87M0SXu-8HGXfaRh3dWZUFAWGAeLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>85974797022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymWorkoutApp</string>
	<key>PROJECT_ID</key>
	<string>gym-workout-tracker-6226c</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-workout-tracker-6226c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85974797022:ios:706985750254afa7af104f</string>
</dict>
</plist>